*.res
*.bak
*.ppu
*.o
*.so.*
*.dll
*.db
*.so
*.apk
*.dbg
*.ogg
*.wav
*.mp3
Libraries
FPC
Temp
pp4
Apache_Ant
Build/Main.res
Build/CompiledUnits
Build/Output
Build/Scripts
Build/AndroidTools/CodeResourses
Build/AndroidTools/SaGe
Build/AndroidTools/Libs/platforms
Build/AndroidTools/Libs
Build/ExternalSources/Imaging
Data/Images
Data/Tron
Log
Binaries
Data/Textures/*.sgia
Data/Textures/*/*.sgia
Data/Examples/6/*.jpg
Data/Examples/13/*.jpg
Data/Examples/13/*.smd
Data/Examples/14/model.bin
Data/Examples/Kraft/SandBox.bin
Data/Fonts/*.sgf
