Build/AndroidTools/CodeResourses
Build/AndroidTools/SaGe
Build/AndroidTools/Libs/platforms
Build/AndroidTools/Libs
FPC
Temp
Data/EngineLog.log
Build/CompiledUnits
Build/Output
Build/Sources/Temp/*.pas
Build/Sources/*.o
Build/Sources/*.a
Build/Sources/*.ppu
Build/Sources/Others/Imaging/*
Build/*.ppu
Build/*.o
Build/Main.res
Binaries/Main.exe
Binaries/SaGeLib.dll
Binaries/SaGeLib.so
Binaries/SaGe.dll
Binaries/SaGe.so
Binaries/Main
Binaries/Main.dbg
Binaries/Main_Lazarus.dbg
Binaries/SaGe.apk
Binaries/Main_Release.exe
Binaries/Main_Lazarus.exe
Binaries/Main_Compressed.exe
Binaries/d3dx9d_33.dll
Others/DirectX/*.o
Others/DirectX/*.ppu
Others/DirectX/*.a
Others/DirectX/*.exe
Data/Images/*/*.png
Data/Images/*.png
Data/Images/*/*.jpg
Data/Images/*.jpg
Examples/*.exe
Examples/*.dll
Examples/*.so
*.bak
pp4
Binaries/Gas Diffusion Saves
Apache_Ant
Binaries/SaGe*.dll
Binaries/libSaGe*.so
