*.res
*.bak
*.ppu
*.o
*.so.*
*.dll
*.db
*.so
*.apk
*.dbg
*.ogg
*.wav
*.mp3
Libraries
FPC
Temp
pp4
Apache_Ant
Build/Main.res
Build/CompiledUnits
Build/Smooth.sublime-workspace
Build/Output
#Build/Scripts
Build/AndroidTools/CodeResourses
Build/AndroidTools/Smooth
Build/AndroidTools/Libs/platforms
Build/AndroidTools/Libs
Build/ExternalSources/Imaging
Data/Images
Data/Tron
Log
Binaries
Data/Textures/*.sia
Data/Textures/*/*.sia
Data/Examples/6/*.jpg
Data/Examples/13/*.jpg
Data/Examples/13/*.smd
Data/Examples/14/model.bin
Data/Examples/Kraft/SandBox.bin
Data/Fonts/*.sf
Build/ExtensionSources/Rep*
Build/Platforms/Windows/ExecutableResourse/ProgramIconImage.ico